<ul>
    <% if (count.drinks) { %>
        <% for (const [drinkName, drinkCount] of Object.entries(count.drinks)) { %>
            <li><%= drinkName %>: <%= drinkCount %>
                <form action="/reduce-count" method="POST" style="display: inline;">
                    <input type="hidden" name="item" value="<%= drinkName %>">
                    <button type="submit">-</button>
                </form>
            </li>
        <% } %>
    <% } %>
</ul>

<ul>
    <% if (count.snacks) { %>
        <% for (const [snackName, snackCount] of Object.entries(count.snacks)) { %>
            <li><%= snackName %>: <%= snackCount %>
                <form action="/reduce-count" method="POST" style="display: inline;">
                    <input type="hidden" name="item" value="<%= snackName %>">
                    <button type="submit">-</button>
                </form>
            </li>
        <% } %>
    <% } %>
</ul>
