<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Results</h1>
    
    <!-- Clear Preferences Button -->
    <form action="/clear" method="POST">
        <button type="submit">Clear Preferences</button>
    </form>

    <h2>Drinks</h2>
    <ul>
        <% for (const [drink, count] of Object.entries(count.drinks)) { %>
            <li>
                <%= drink %>: <%= count %>
                <form class="reduce-form" action="/reduce-count" method="POST" style="display: inline;">
                    <input type="hidden" name="id" value="<%= drink %>">
                    <input type="hidden" name="type" value="drinks">
                    <button type="submit" class="reduceBtn" data-id="<%= drink %>" data-type="drinks">-</button>
                </form>
            </li>
        <% } %>
    </ul>

    <h2>Snacks</h2>
    <ul>
        <% for (const [snack, count] of Object.entries(count.snacks)) { %>
            <li>
                <%= snack %>: <%= count %>
                <form class="reduce-form" action="/reduce-count" method="POST" style="display: inline;">
                    <input type="hidden" name="id" value="<%= snack %>">
                    <input type="hidden" name="type" value="snacks">
                    <button type="submit" class="reduceBtn" data-id="<%= snack %>" data-type="snacks">-</button>
                </form>
            </li>
        <% } %>
    </ul>


    <script src="/script.js"></script>
</body>
</html>
